server:
  port: ${PORT}
  address: 0.0.0.0

spring:
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: ""
  server:
    enable-self-preservation: false
    