server:
  port: 5000

spring:
  application:
    name: gateway-service

  cloud:
    gateway:

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders: "*"
            allowCredentials: true
            maxAge: 3600

      server:
        webmvc:
          routes:
            - id: task-user-service
              uri: lb://TASK-USER-SERVICE
              predicates:
                - Path=/auth/**,/users/**,/api/users/**

            - id: task-service
              uri: lb://TASK-SERVICE
              predicates:
                - Path=/api/tasks/**,/tasks/**

            - id: submission-service
              uri: lb://SUBMISSION-SERVICE
              predicates:
                - Path=/api/submission/**,/submission/**

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8070/eureka/
